<section class="feedback-section" id="feedback">
  <div class="container feedback-container">
    <div class="feedback-text-wrapper">
      <h2 class="feedback-header">Відгуки клієнтів</h2>
      <p class="feedback-text">
        Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.
      </p>
    </div>

    <div class="swiper">
      <div class="swiper-wrapper">
        <!-- js creates carosel -->
      </div>
    </div>
    <div class="swiper-interaction-wrapp">
      <div class="swiper-pagination"></div>
      <div class="btn-wrapper">
        <button type="button" class="swiper-button-prev">
          <svg class="icon-left-arrow" type="button" width="158" height="35">
            <use href="./img/icons.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button type="button" class="swiper-button-next">
          <svg class="icon-right-arrow" type="button" width="158" height="35">
            <use href="./img/icons.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>