<section class="feedback-section" id="feedback">
  <div class="container feedback-container">
    <div class="feedback-text-wrapper">
      <h2 class="feedback-header">Відгуки клієнтів</h2>
      <p class="feedback-text">
        Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.
      </p>
    </div>

    <div class="swiper feedback-swiper">
      <div class="swiper-wrapper feedback-swiper-wrapper">
        <!-- js creates carosel -->
      </div>
    </div>
    <div class="feedback-swiper-interaction-wrapp">
      <div class="swiper-pagination feedback-pagination"></div>
      <div class="feedback-btn-wrapper">
        <button type="button" class="feedback-swiper-button-prev">
          <svg class="feedback-icon-left-arrow" type="button" width="158" height="35">
            <use href="./img/icons.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button type="button" class="feedback-swiper-button-next">
          <svg class="feedback-icon-right-arrow" type="button" width="158" height="35">
            <use href="./img/icons.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>