<section class="hero-section" id="hero">
  <div class="container-hero">
    <h1 class="hero-title">Створіть свій ідеальний дім</h1>
    <p class="hero-description">
      Відкрийте для себе колекцію стильних та комфортних меблів, які перетворять
      ваш простір. Наша продукція поєднує в собі елегантність та
      функціональність.
    </p>
    <a
      href="#Feedback-Section"
      class="main-button"
      aria-label="Перейти до відгуків клієнтів"
    >
      Що про нас думають
    </a>
  </div>
</section>
