<div class="modal-overlay is-open">
  <div class="modal">
    <button type="button" class="close-button">
      <svg width="32" height="32" class="icon-close">
        <use href="/img/icons.svg#icon-x-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Замовити</h2>
    <form class="modal-form" novalidate>
      <div class="modal-form-item">
        <label for="modal-form-name" class="modal-form-label">Ім'я*</label>
        <input
          type="text"
          id="modal-form-name"
          name="modal-form-name"
          class="modal-form-input"
          placeholder="Дмитро"
          required
        />
      </div>
      <div class="modal-form-item">
        <label for="modal-form-phone" class="modal-form-label">Телефон*</label>
        <input
          type="tel"
          id="modal-form-phone"
          name="modal-form-phone"
          class="modal-form-input"
          placeholder="38 099 123 22 11"
          required
        />
      </div>
      <div class="modal-form-item">
        <label for="modal-form-comment" class="modal-form-label"
          >Коментар</label
        >
        <textarea
          id="modal-form-comment"
          name="modal-form-comment"
          class="modal-form-input comment"
          placeholder="Введіть ваш коментар..."
          rows="4"
        ></textarea>
      </div>

      <button type="submit" class="modal-form-submit">Надіслати заявку</button>
    </form>
  </div>
</div>
