<section class="popular-section" id="popular">
  <div class="container">
    <h2 class="popular-header">Популярні товари</h2>

    <div class="swiper popular-swiper">
      <div class="swiper-wrapper" id="popular-products-wrapper">
        <!-- js creates carosel -->
      </div>

      <div class="popular-swiper-controls">
        <div class="swiper-pagination popular-pagination"></div>
        <button class="popular-button-prev">
          <svg class="icon-left-arrow" width="35" height="35">
            <use href="./img/icons.svg#icon-left-arrow"></use>
          </svg>
        </button>
        <button class="popular-button-next">
          <svg class="icon-right-arrow" width="35" height="35">
            <use href="./img/icons.svg#icon-right-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>