.faq-section {
padding: 48px 0;
}
 
 @media  only screen and (min-width: 1440px) {
.faq-section {
    padding: 80px 0;
}
 }

.faq-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq-section .faq-title {
    text-align: center; 
    margin-bottom: 32px;
}

.accordion-container {
min-width: 335px;
}

@media only screen and (min-width: 768px) {
    .accordion-container {
        max-width: 704px;
    }
}

@media only screen and (min-width: 1440px) {
    .accordion-container {
        max-width: 865px;
    }
}

.ac {
    border: none !important;
    padding: 24px 0;
    border-top: 1px solid rgba(8, 12, 9, 0.15) !important;
    margin-bottom: 0 !important;
    margin-bottom: 8px;
    background-color: inherit;
    box-sizing: border-box;
}

.ac:last-child{
    border-bottom: 1px solid rgba(8, 12, 9, 0.15) !important;
}

.ac .ac-header {
    margin: 0;
    padding: 0;
}
.ac-header {
    
}

.ac-trigger:hover,
.ac-trigger:focus {
    color: var(--color-neutral-dark);
}

.ac-trigger {
font-family: "Raleway", sans-serif !important;
    font-weight: 700;
    font-size: 16px !important;
    line-height: 160% !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 100%;
    padding: 8px 32px 8px 8px;
    display: block;
    cursor: pointer;
    background-color: transparent;
    transition: color 250ms cubic-bezier(0.77, 0, 0.18, 1);
    position: relative;
    text-decoration: none;
    margin: 0;
    border: 0;
    color: #080c09;
}

.ac-panel {

}

.ac-text {

}

.ac-trigger-icon {

}