.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.menu-toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;

}

.desktop-nav-group {
    display: none;
}

/*               ModalMenu              */

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 100;


    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    flex-direction: column;
    padding: 20px;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
}

.mobile-menu .logo-header {
    display: block;
}

.menu-content-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
    padding-bottom: 32px;
}

.menu-content-group .site-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 32px;

    color: #080c09;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
}

.link-header a {
    transition: all 250ms ease;
}

.menu-content-group .btn-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 100px;
    padding: 8px 20px;
    width: 100%;
    height: 42px;

    background-color: #6B0609;

    font-family: "Raleway",
        sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: #FFFFFF;

    box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(8, 12, 9, 0.05);
}


.menu-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
}

.navigation.menu-active .menu-toggle-btn {
    display: none;
}


@media screen and (min-width: 768px) {

    .mobile-menu {
        width: 249px;
        height: auto;
        margin-left: auto;
        padding: 24px 32px;
        display: flex;
        align-items: flex-end;
    }

    .menu-overlay {
        position: fixed;
        top: 72px;
        left: 0;
        width: 100%;
        height: calc(100% - 78px);
        background-color: rgba(8, 12, 9, 0.4);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        z-index: 50;
    }

    .menu-overlay.is-visible {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-menu {
        z-index: 100;
    }

    .mobile-menu .logo-header {
        display: none;
    }

    .menu-close-btn {
        right: 32px;
    }

    .menu-content-group {
        margin-top: 32px;
        align-items: flex-end;
    }

    .menu-content-group .site-navigation {
        align-items: flex-end;
    }
}

@media screen and (min-width: 900px) {
    .mobile-menu {
        width: 298px;
        padding: 24px 98px 24px 25px;

        margin-right: 0;
        margin-left: auto;
    }

    .menu-close-btn {
        right: 98px;

    }
}

@media screen and (min-width: 1440px) {


    .desktop-nav-group {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .site-navigation {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .link-header a {
        font-weight: 400;
        font-size: 16px;
        padding: 20px 0;
    }

    .link-header a:hover,
    .link-header a:focus {
        opacity: 0.5;
        color: #920d11;
    }

    .btn-header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        border-radius: 100px;
        padding: 8px 20px;
        width: 129px;
        height: 42px;

        background-color: #6B0609;

        font-family: "Raleway",
            sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6;
        color: #FFFFFF;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
            inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
            inset 0 0 0 1px rgba(8, 12, 9, 0.15),
            inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
            inset 0 32px 24px 0 rgba(8, 12, 9, 0.05);

        &:hover {
            opacity: 0.8;
        }

        &:focus {
            opacity: 0.8;
        }


    }

    .menu-toggle-btn {
        display: none;
    }
}