*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1000;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  max-width: 335px;
  width: 100%;
  max-height: 703px;
  height: 100%;
  border-radius: 8px;
  padding: 64px 20px;
}

.modal-open {
  overflow: hidden;
  height: 100vh;
}

.close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 32px;
  width: 32px;
  border: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
}

.close-button:hover svg,
.close-button:focus svg {
  fill: rgba(13, 11, 10, 0.3);
}

.modal-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 48px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-form-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-form-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.modal-form-input {
  background-color: rgba(8, 12, 9, 0.05);
  border: 1px solid rgba(8, 12, 9, 0.15);
  border-radius: 12px;
  padding: 8px 12px;
  width: 295px;
  height: 42px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.modal-form-input:focus {
  outline: none;
}

.modal-form-input:hover,
.modal-form-input:focus {
  border: 1px solid rgba(8, 12, 9, 0.4);
}

.modal-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: rgba(8, 12, 9, 0.6);
}

.modal-form-input.comment {
  min-height: 180px;
}

.invalid {
  border-color: #6b0609;
  outline: none;
}

.error-text {
  color: #6b0609;
  font-size: 12px;
  margin-top: 4px;
}

.modal-form-submit {
  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  max-width: 295px;
  height: 46px;
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background: #6b0609;
  font-weight: 500;
  line-height: 1.6;
  color: #fff;
  transition: opacity 0.3s ease, transform 0.2s ease;
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  opacity: 50%;
}

@media (min-width: 768px) {
  .modal {
    max-width: 704px;
  }

  .modal-form {
    margin: 0 auto;
    width: 100%;
  }

  .modal-form-item,
  .modal-form-label,
  .modal-form-input {
    width: 100%;
  }

  .modal-form-submit {
    max-width: 196px;
    align-self: center;
  }
}

@media (min-width: 1440px) {
  .modal {
    max-width: 866px;
  }

  .modal-form {
    max-width: 738px;
  }
}
