.popular-section {
  padding: 48px 0;
}

.popular-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 32px;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.01em;
}

.popular-swiper .swiper-wrapper {
  display: flex;
  gap: 24px;
}

.popular-swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 280px;
}

.popular-swiper .product-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
}

.popular-swiper .product-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
}

.popular-swiper .more-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  height: 46px;
  background: #f5f6f5;
  color: #0a0a0a;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.popular-swiper .more-info:hover {
  background: #eeeeee;
}

.popular-button-prev,
.popular-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border: 1px solid rgba(8, 12, 9, 0.15);
  border-radius: 100px;
  padding: 12px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 1px 2px 0 rgba(8, 12, 9, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(8, 12, 9, 0.05);
}

.popular-button-prev:hover,
.popular-button-next:hover {
  background-color: #975052;
  box-shadow: 0 4px 12px rgba(107, 6, 9, 0.3),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(8, 12, 9, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25);
  outline: none;
  fill: #fff;
}

.popular-button-prev:focus,
.popular-button-next:focus {
  outline: none;
}

.popular-button-prev.disabled,
.popular-button-next.disabled {
  background: #f2f2f2;
  opacity: 0.3;
  fill: #080c09;
  cursor: no-drop;
}

.popular-pagination {
  display: flex;
  margin-right: auto;
}
.popular-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    opacity: 1;
    border-radius: 100%;
    background-color: #C9C9C9;
    margin: 0 4px;
}

.popular-pagination .swiper-pagination-bullet-active {
    background-color: #080c09;
}

.popular-swiper-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .popular-swiper .swiper-slide {
    max-width: 341px;
  }

  .popular-header {
    font-size: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .popular-section {
    padding: 80px 0;
  }

  .popular-swiper .swiper-slide {
    max-width: 310px;
  }
}
