.popular-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  padding: 80px 0 32px;
}

.popular-swiper .swiper-wrapper {
  display: flex;
  gap: 24px;
}

.popular-swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 310px;
}

.popular-swiper .product-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  color: var(--color-scheme-1-text);
}

.popular-swiper .product-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  color: var(--color-scheme-1-text);
}

.popular-swiper .more-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  height: 46px;
  background: #f5f6f5;
  color: #0a0a0a;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.popular-swiper .more-info:hover {
  background: #eeeeee;
}

.popular-button-prev.disabled-nav,
.popular-button-next.disabled-nav {
  opacity: 0.3;
  pointer-events: none;
}

.popular-swiper-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
