@import url('./base.css');
@import url('./container.css');
@import url('./About-Us-Section.css');
@import url('./FAQ-Section.css');
@import url('./Feedback-Section.css');
@import url('./footer.css');
@import url('./Furniture-Details-Modal.css');
@import url('./Furniture-List-Section.css');
@import url('./header.css');
@import url('./Hero-Section.css');
@import url('./Order-Modal.css');
@import url('./Popular-Products-Section.css');